# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/alumni_part2

# JWT
JWT_SECRET=abcSECRET
JWT_EXPIRES_IN=1h

# Email (
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=mailtrap_user
EMAIL_PASS=mailtrap_pass
EMAIL_FROM=noreply@iit.ac.lk

# Part 1 API
PART1_API_BASE_URL=http://localhost:4000/api
PART1_API_KEY=

# Client
CLIENT_URL=http://localhost:5173

# University domain for registration
UNIVERSITY_EMAIL_DOMAIN=iit.ac.uk